<template>
  <div id="main-map">
    <div id="map"></div>
    <div id="floating-controls">
      <button class="control" v-on:click="requestGeolocation" v-if="hasGeolocation">
        <font-awesome-icon icon="crosshairs" />
      </button>
    </div>
  </div>
</template>

<script>
import L from 'leaflet';

// https://github.com/Leaflet/Leaflet/issues/4968#issuecomment-319569682
import iconRetinaUrl from 'leaflet/dist/images/marker-icon-2x.png'
import iconUrl from 'leaflet/dist/images/marker-icon.png'
import shadowUrl from 'leaflet/dist/images/marker-shadow.png'
L.Marker.prototype.options.icon = L.icon({
  iconRetinaUrl,
  iconUrl,
  shadowUrl,
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  tooltipAnchor: [16, -28],
  shadowSize: [41, 41]
})

export default {
  name: 'MainMap',

  data () {
    return {
      map: null,
      hasGeolocation: "geolocation" in navigator,
    };
  },

  mounted() {
    this.map = L.map('map', {
      zoomControl: false,
    }).setView([19.5356, -96.9194], 14);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoiY2F0ZWd1bGFyaW8iLCJhIjoiY2o0c3kzNTAxMDJ1cTMzbGF4cHF4cnZvZSJ9.HFFDcBS24FvCmlMM0aQ5IQ',
    }).addTo(this.map);
  },

  beforeDestroy() {
    this.map.remove();
  },

  methods: {
    requestGeolocation() {
      navigator.geolocation.getCurrentPosition((position) => {
        let marker = L.marker([
          position.coords.latitude, position.coords.longitude
        ]).addTo(this.map);

        console.log(marker);
      });
    },
  },
}
</script>

<style lang="scss">
@import '~leaflet/dist/leaflet.css';

#map {
    width: 100vw;
    height: 100vh;
}

#floating-controls {
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 1000;

  .control {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: white;
    font-size: 35px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
</style>
